<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">-->
<!--    <link rel="stylesheet" href="../../styles/common.css">-->
<!--    <link rel="stylesheet" href="../../styles/category.css">-->
<!---------------Content------------------------------>
<div class="block">
    <h1 class="header-block">Создание дохода/расхода</h1>
    <div class="alert alert-danger error-container" >Заполните все поля!</div>
    <div class="create-income">
        <select id="type-select" class="form-select create-category-input mb-2" aria-label="Default select example">
            <option selected>Тип</option>
            <option value="income">Доход</option>
            <option value="expense">Расход</option>
        </select>
        <select id="category-select" class="form-select create-category-input mb-2" aria-label="Категория">
            <option selected disabled>Категория...</option>
        </select>
        <input id="amount-operation" type="number" placeholder="Сумма в $..." class="form-control create-category-input mb-2">
        <input id="date-operation" type="date" placeholder="Дата..." class="form-control create-category-input mb-2"
               data-provide="datepicker">
        <input id="comment-operation" type="text" placeholder="Комментарий..." class="form-control create-category-input mb-2">

        <div class="create-category-actions mt-3">
            <a type="button" class="btn btn-success" id="btn-create-operation">Создать</a>
            <a type="button" class="btn btn-danger" href="/finances">Отмена</a>
        </div>
    </div>
</div>
