
<div class="block">
    <h1 class="header-block">Создание категории расходов</h1>
    <div class="alert alert-danger error-container">Заполните поле!</div>
    <div class="create-expense">
        <input type="text" placeholder="Название..." class="form-control create-category-input mb-3">
        <div class="create-category-actions">
            <button type="button" class="btn btn-success">Создать</button>
            <a type="button" class="btn btn-danger" href="/expense">Отмена</a>
        </div>
    </div>
</div>


