
<div class="block">
    <h1 class="header-block">Расходы</h1>
    <div class="category-cards">

        <a class="btn category-card-create" id="card-create" href="/expense/create">
            <i class="fa-solid fa-plus" style="color: #CED4DA;"></i>
        </a>
    </div>
</div>
<div class="delete-category-block">
    <div class="delete-category-popup">
        <p class="delete-popup-text">Вы действительно хотите удалить категорию? Связанные доходы будут удалены
            навсегда.</p>
        <div class="delete-category-actions">
            <button type="button" class="btn btn-success">Да, удалить</button>
            <button type="button" class="btn btn-danger">Не удалять</button>
        </div>
    </div>
</div>
