<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">-->
<!--    <link rel="stylesheet" href="../../styles/common.css">-->
<!--    <link rel="stylesheet" href="../../styles/category.css">-->

<!---------------Content------------------------------>
<div class="block">
    <h1 class="header-block">Редактирование категории доходов</h1>
    <div class="edit-income">
        <div class="alert alert-danger error-container">Заполните поле!</div>
        <input type="text" placeholder="Название..." class="form-control edit-category-input mb-3">
        <div class="edit-category-actions">
            <button type="button" class="btn btn-success">Создать</button>
            <a type="button" class="btn btn-danger" href="/income">Отмена</a>
        </div>
    </div>
</div>
