<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css">-->
<!--    <link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">-->
<!--    <link rel="stylesheet" href="../../styles/common.css">-->
<!--    <link rel="stylesheet" href="../../styles/category.css">-->
<!--    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>-->

<!---------------Content------------------------------>
<div class="block">
    <h1 class="header-block">Доходы</h1>
    <div class="category-cards">
<!--        <div class="category-card">-->
<!--            <h3 class="category-card-header ">-->
<!--                Депозиты-->
<!--            </h3>-->
<!--            <div class="category-card-actions">-->
<!--                <a type="button" class="btn btn-primary" href="/income/edit">Редактировать</a>-->
<!--                <a type="button" class="btn btn-danger" href="/income/delete">Удалить</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-card">-->
<!--            <h3 class="category-card-header ">-->
<!--                Инвестиции-->
<!--            </h3>-->
<!--            <div class="category-card-actions">-->
<!--                <button type="button" class="btn btn-primary">Редактировать</button>-->
<!--                <button type="button" class="btn btn-danger">Удалить</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-card">-->
<!--            <h3 class="category-card-header">-->
<!--                Зарплата-->
<!--            </h3>-->
<!--            <div class="category-card-actions">-->
<!--                <button type="button" class="btn btn-primary">Редактировать</button>-->
<!--                <button type="button" class="btn btn-danger">Удалить</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="category-card">-->
<!--            <h3 class="category-card-header">-->
<!--                Сбережения-->
<!--            </h3>-->
<!--            <div class="category-card-actions">-->
<!--                <button type="button" class="btn btn-primary">Редактировать</button>-->
<!--                <button type="button" class="btn btn-danger">Удалить</button>-->
<!--            </div>-->
<!--        </div>-->
        <a class="btn category-card-create" id="card-create" href="/income/create">
            <i class="fa-solid fa-plus" style="color: #CED4DA;"></i>
        </a>
    </div>
</div>
<div class="delete-category-block">
    <div class="delete-category-popup">
        <p class="delete-popup-text">Вы действительно хотите удалить категорию? Связанные доходы будут удалены
            навсегда.</p>
        <div class="delete-category-actions">
            <button type="button" class="btn btn-success">Да, удалить</button>
            <button type="button" class="btn btn-danger">Не удалять</button>
        </div>
    </div>
</div>
